@import "variables.css";

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Inter, sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--text-color);
    }
}

* {
    box-sizing: border-box;
}